* {
    margin: 0;
    padding: 0;
}

p{
    color: white;
}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
    color: white;
}

.root{
    background: linear-gradient(#6100FF, #160031);
}

.header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: center;
    align-content: center; */
}

.heading{
    color: white;
    font-weight: normal;
}

.navigator{
    color: white;
    font-weight: normal;
}


