* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
}

body {
  color: white;
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(#6100FF, #160031);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4{
  font-weight: 400;
  color: black;
}

.header{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px;
}

.heading{
  font-weight: normal;
}

.navigator{
  font-weight: normal;
}

.main{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.workouts{
  background-color: white;
  padding: 5px;
  border-radius: 12px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.workouts_heading{
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: black;
  justify-content: center;
}

.workouts_navigator{
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: black;
  justify-content: center;
}

.workouts_navigator_all{
  border: 1px solid black;
  padding: 5px;
  border-radius: 12px;
}

.workouts_navigator_ids{
  border: 1px solid black;
  padding: 5px;
  border-radius: 12px;
}

.each_workout{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.add_workout{
  display: flex;
  flex-direction: column;
  /* как отцентрировать?? */
  /* justify-content: center;
  align-content: center; */
  gap: 20px;
}

.new_workout{
  background-color: white;
  padding: 5px;
  border-radius: 12px;
  /* display: flex;
  flex-direction: column; */
}

.btn_add_workout{
  background-color: #C2D3FF;
  padding: 5px;
  width: 80%;
  border-radius: 12px;
}

